In [1]:
f = open("c:/users/radha/Desktop/dsp27 Class/sampletText.txt", "r")
print(f.read())

Paralympic gold-winners Avani Lekhara, Sumit Antil, Pramod Bhagat, Krishna Nagar, Manish Narwal were also given the Khel Ratna at a dazzling awards ceremony on Saturday.

In [2]:
f = open("c:/users/radha/Desktop/dsp27 Class/demofile1.txt", "w")
f.write("Hai imarticus!")
f.close()

In [3]:
f = open("c:/users/radha/Desktop/dsp27 Class/demofile1.txt", "r")
print(f.read())

Hai imarticus!

In [4]:
# File exists
import os
if os.path.exists("c:/users/hp/downloads/demofile1.txt"):
    f = open("c:/users/hp/downloads/demofile1.txt", "r")
    print(f.read())
    
    #os.remove("demofile.txt")

else:
  print("The file does not exist")

The file does not exist

In [5]:
# Import `os` 
import os
# Retrieve current working directory (`cwd`)
cwd = os.getcwd()
cwd

'C:\\Users\\radha'

In [6]:
# List all files and directories in current directory

# os.listdir('c:/users/radha/downloads/')

In [7]:
import os

for root, dirs, files in os.walk("C:\\Users\\radha\\Desktop\\dsp27 Class\\Dummy"):  
    for filename in files:
        print(filename)

Barley.csv

In [8]:
import os, fnmatch

listOfFiles = os.listdir('C:\\Users\\radha\\Desktop\\dsp27 Class\\Dummy')  
pattern = "*.csv"  
for entry in listOfFiles:  
    if fnmatch.fnmatch(entry, pattern):
            print (entry)

Barley.csv

In [9]:
# Read Excel file
# Import pandas
import pandas as pd

# Assign spreadsheet filename to `file`
file = 'C:\\Users\\radha\\Desktop\\dsp27 Class\\Realestate.xlsx'

# Load spreadsheet
xl = pd.ExcelFile(file)

# Print the sheet names
print(xl.sheet_names)

# Load a sheet into a DataFrame by name: df1
df1 = xl.parse('realestate')
df1.head()

['realestate']

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,2016-03-09 00:00:00,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,2016-03-12 00:00:00,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,2016-04-02 00:00:00,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,2016-04-02 00:00:00,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,2017-04-03 00:00:00,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944

In [10]:
# PDF READER

In [11]:
#pip install tabula-py

In [14]:
from tabula import read_pdf

# require java jre

df = read_pdf("C:\\Users\\radha\\Desktop\\dsp27 Class\\mukherjee2011.pdf", multiple_tables=True,pages="1-18")
#df

Got stderr: Nov 13, 2021 7:56:31 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C0 (1) in font KDKMNL+AdvP4C4E74
Nov 13, 2021 7:56:33 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C12 (2) in font KDKNGJ+AdvP4C4E46
Nov 13, 2021 7:56:33 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C3 (3) in font KDKMNL+AdvP4C4E74
Nov 13, 2021 7:56:34 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C138 (4) in font KDKMNL+AdvP4C4E74
Nov 13, 2021 7:56:34 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C2 (3) in font KDKNGJ+AdvP4C4E46
Nov 13, 2021 7:56:34 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C0 (4) in font KDKNGJ+AdvP4C4E46
Nov 13, 2021 7:56:34 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C3 (6) in font KDKNGJ+AdvP4C4E46
Nov 13, 2021 7:56:34 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C1 (7) in font KDKNGJ+AdvP4C4E46
Nov 13, 2021 7:56:35 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C25 (6) in font KDKMNL+AdvP4C4E74
Nov 13, 2021 7:56:42 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C16 (8) in font KDKNGJ+AdvP4C4E46
Nov 13, 2021 7:56:42 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C8 (9) in font KDKNGJ+AdvP4C4E46
Nov 13, 2021 7:56:42 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C9 (10) in font KDKNGJ+AdvP4C4E46
Nov 13, 2021 7:56:42 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C20 (11) in font KDKNGJ+AdvP4C4E46
Nov 13, 2021 7:56:42 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C21 (12) in font KDKNGJ+AdvP4C4E46
Nov 13, 2021 7:56:42 AM org.apache.pdfbox.pdmodel.font.PDSimpleFont toUnicode
WARNING: No Unicode mapping for C22 (2) in font KDKMMI+AdvP4C4E59