In [2]:
# Synthetic Minority Oversampling Technique, or SMOTE

# data augmentation

In [3]:
#One approach to addressing imbalanced datasets is to oversample the minority class. 
#The simplest approach involves duplicating examples in the minority class,
#although these examples donâ€™t add any new information to the model.

In [6]:
import imblearn
print(imblearn.__version__)

0.8.1

In [7]:
#pip install imblearn

# ModuleNotFoundError: No module named 'imblearn'

In [122]:
# Data Manupulation
import numpy as np
import pandas as pd
# Plotting graphs
import matplotlib.pyplot as plt

# CSV File - Read
df = pd.read_csv('C:\\Users\\radha\\Desktop\\dsp27 Class\\cerealspga05.csv')
#  ,header=None ,skiprows=1 , names=['Cal', 'Pr', 'Fat', 'sod', 'Fib', 'Rting']
print(df.head(2))

        name mfr type  calories  protein  fat  sodium  fiber  carbo  sugars  \
0  100%_Bran   N    C        70        4    1     130   10.0    5.0       6
1   All-Bran   K    C        70        4    1     260    9.0    7.0       5

   potass  vitamins  shelf  weight  cups     rating
0     280        25      3     1.0  0.33  68.402973
1     320        25      3     1.0  0.33  59.425505

In [123]:
# CROSS TAB
table2 = pd.crosstab(df['mfr'], df['type'])
pd.crosstab(df['mfr'], df['type'])

type   C  H
mfr
A      0  1
G     22  0
K     23  0
N      5  1
P      8  0
Q      7  1
R      6  0

In [37]:
#ADASYN, BorderLine SMOTE, KMeansSMOTE, SVMSMOTE are some of the strategies to select better minority points.

# TypeError: '<' not supported between instances of 'float' and 'str'

In [41]:
df['mfr'].value_counts()

K    23
G    22
Q     8
P     8
N     6
R     6
A     1
Name: mfr, dtype: int64

In [42]:
df['type'].value_counts()

C    71
H     3
Name: type, dtype: int64

In [43]:
df.isnull().sum()

name        0
mfr         0
type        0
calories    0
protein     0
fat         0
sodium      0
fiber       0
carbo       0
sugars      0
potass      0
vitamins    0
shelf       0
weight      0
cups        0
rating      0
dtype: int64

In [135]:
#Convert Gender
dict_gender = {'C': 1, 'H':0}
df.replace({'type': dict_gender}, inplace = True)

In [136]:
df['type'].value_counts()

1    71
0     3
Name: type, dtype: int64

In [130]:
#Convert Gender

dict_gender = {'K': 0, 'G':1,'Q': 2, 'P':3,'N': 4, 'R':5,'A': 6}
df.replace({'mfr': dict_gender}, inplace = True)

In [131]:
df['mfr'].value_counts()

0    23
1    22
2     8
3     8
4     6
5     6
6     1
Name: mfr, dtype: int64

In [125]:
df.drop('name',  axis='columns', inplace=True)

In [132]:
df.head(5)

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,4,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,0,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
2,0,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
3,0,C,110,3,3,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
4,3,C,120,3,1,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594

In [137]:
#x = df.drop('Attrition', axis=1)
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold, GridSearchCV, RandomizedSearchCV
x = df.drop(['shelf','weight', 'cups'], axis=1)
y = df['type']
# Splitting the data into train and test
X_train,X_test,y_train,y_test=train_test_split(x, y, train_size=0.8,  random_state=100)

In [128]:
#from sklearn.preprocessing import StandardScaler
#Scaler_X = StandardScaler()
#X_train = Scaler_X.fit_transform(X_train)
#X_test = Scaler_X.transform(X_test)

In [138]:
from imblearn.over_sampling import SMOTE

counter = Counter(y_train)
print('Before',counter)
# oversampling the train dataset using SMOTE
## ValueError: Expected n_neighbors <= n_samples,  but n_samples = 2, n_neighbors = 4
smt = SMOTE(k_neighbors=1)  # Important
#X_train, y_train = smt.fit_resample(X_train, y_train)

X_train_sm, y_train_sm = smt.fit_resample(X_train, y_train)

counter = Counter(y_train_sm)
print('After',counter)

Before Counter({1: 57, 0: 2})
After Counter({1: 57, 0: 57})

In [139]:
X_train_sm

,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,rating
0,0,1,110,2,0,220,1.000000,21.000000,3,30,25,46.895644
1,0,1,100,3,0,320,1.000000,20.000000,3,45,100,41.503540
2,2,1,100,4,1,135,2.000000,14.000000,6,110,25,49.511874
3,0,1,100,3,0,0,3.000000,14.000000,7,100,25,58.345141
4,1,1,110,2,1,200,1.000000,16.000000,8,60,25,36.187559
...,...,...,...,...,...,...,...,...,...,...,...,...
109,4,0,100,3,0,61,0.771474,19.857372,0,20,5,62.321025
110,4,0,100,3,0,77,0.972904,20.864520,0,1,0,64.271449
111,5,0,100,3,0,14,0.177170,16.885848,2,77,20,56.566432
112,4,0,100,3,0,64,0.805484,20.027422,0,17,4,62.650341
113,5,0,100,3,0,6,0.080050,16.400248,2,87,22,55.626028

In [142]:
# CROSS TAB

pd.crosstab(X_train_sm['mfr'], X_train_sm['type'])
# observe Good and Bad Points

type   0   1
mfr
0      0  16
1      0  20
2      0   6
3      0   7
4     26   4
5     30   4
6      1   0

In [164]:
# ADASYN (Adaptive Synthetic) is an algorithm that generates synthetic data,
#and its greatest advantages are not copying the same minority data

In [165]:
from imblearn.over_sampling import ADASYN

counter = Counter(y_train)
print('Before',counter)

# oversampling the train dataset using ADASYN
ada = ADASYN(random_state=130, n_neighbors=1)

X_train_ada, y_train_ada = ada.fit_resample(X_train, y_train)

counter = Counter(y_train_ada)
print('After',counter)

Before Counter({1: 57, 0: 2})
After Counter({0: 58, 1: 57})

In [166]:
# CROSS TAB
pd.crosstab(X_train_ada['mfr'], X_train_ada['type'])
# observe Good and Bad Points

type   0   1
mfr
0      0  16
1      0  20
2      0   6
3      0   7
4     29   4
5     28   4
6      1   0

In [167]:
# UNDER SAMPLE
# https://imbalanced-learn.org/stable/references/generated/imblearn.under_sampling.AllKNN.html

In [170]:
from imblearn.under_sampling import AllKNN 

counter = Counter(y_train)
print('Before',counter)
# oversampling the train dataset using ADASYN
allknn = AllKNN()

X_res, y_res = allknn.fit_resample(X_train, y_train)
print('Resampled dataset shape %s' % Counter(y_res))

Before Counter({1: 57, 0: 2})
Resampled dataset shape Counter({1: 48, 0: 2})

In [172]:
from imblearn.under_sampling import NearMiss 

counter = Counter(y_train)
print('Before',counter)
# oversampling the train dataset using ADASYN
nm = NearMiss(n_neighbors=1)

X_res, y_res = nm.fit_resample(X_train, y_train)
print('Resampled dataset shape %s' % Counter(y_res))

Before Counter({1: 57, 0: 2})
Resampled dataset shape Counter({0: 2, 1: 2})