In [19]:
# Pandas _ Data Loading
# Pandas - Data Manipulation, Modifications
# Basic Stats Like, Description, Covariance, Correlation

# DATA FRAME
# IMPORT / EXPORT
# INDEXING
# SELECTION, FILTERING, sorting, summarize
# DESCRIPTIVE STATS
# Combinig and merging data frame, 
# REMOVE DUPLICATES
# DISCRETIZATION, Binning
# string Manipulation
# matplotlib
# numpy

In [2]:
#
import pandas as pd
# CSV File - Read / IMPORT
df = pd.read_csv('C:\\Users\\radha\\Desktop\\dsp27 Class\\cerealspga05.csv')
#  ,header=None ,skiprows=1 , names=['Cal', 'Pr', 'Fat', 'sod', 'Fib', 'Rting']

print(df.head(5)) 

print(df.ndim)

print(df.shape)

                        name mfr type  calories  protein  fat  sodium  fiber  \
0                  100%_Bran   N    C        70        4    1     130   10.0
1                   All-Bran   K    C        70        4    1     260    9.0
2  All-Bran_with_Extra_Fiber   K    C        50        4    0     140   14.0
3         Cracklin'_Oat_Bran   K    C       110        3    3     140    4.0
4      Post_Nat._Raisin_Bran   P    C       120        3    1     200    6.0

   carbo  sugars  potass  vitamins  shelf  weight  cups     rating
0    5.0       6     280        25      3    1.00  0.33  68.402973
1    7.0       5     320        25      3    1.00  0.33  59.425505
2    8.0       0     330        25      3    1.00  0.50  93.704912
3   10.0       7     160        25      3    1.00  0.50  40.448772
4   11.0      14     260        25      3    1.33  0.67  37.840594
2
(74, 16)

In [3]:
print(df.axes)

[RangeIndex(start=0, stop=74, step=1), Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')]

In [4]:
print(df['protein']) # Better use .loc or .iloc

#select all rows for a specific column
print(df.loc[:,'protein'])
#selection
# Select all rows for multiple columns, say list[]
#loc: select rows or columns using labels
#iloc: select rows or columns using indices  -ILOC
print(df.loc[:,['protein','calories']])

newdf = df.loc[:,['protein','calories']]
print(newdf.head())

0     4
1     4
2     4
3     3
4     3
     ..
69    2
70    1
71    3
72    3
73    2
Name: protein, Length: 74, dtype: int64
0     4
1     4
2     4
3     3
4     3
     ..
69    2
70    1
71    3
72    3
73    2
Name: protein, Length: 74, dtype: int64
    protein  calories
0         4        70
1         4        70
2         4        50
3         3       110
4         3       120
..      ...       ...
69        2       110
70        1       110
71        3       100
72        3       100
73        2       110

[74 rows x 2 columns]
   protein  calories
0        4        70
1        4        70
2        4        50
3        3       110
4        3       120

In [20]:
# EXPORT / WRITE  to_csv
file_name = "C:\\Users\\radha\\Desktop\\dsp27 Class\\cerealsPart1.csv"
newdf = df.loc[:,['protein','calories']]
newdf.to_csv(file_name, sep=',', encoding='utf-8')

In [43]:
print(df.iloc[:,[4,5]])

    protein  fat
0         4    1
1         4    1
2         4    0
3         3    3
4         3    1
..      ...  ...
69        2    1
70        1    1
71        3    1
72        3    1
73        2    1

[74 rows x 2 columns]

In [21]:
#descriptive stats
print(df.describe())

         calories    protein        fat      sodium      fiber      carbo  \
count   74.000000  74.000000  74.000000   74.000000  74.000000  74.000000
mean   105.540541   2.500000   0.945946  160.675676   2.090541  14.594595
std     18.442201   1.088546   0.963610   85.188447   2.404002   4.349205
min     50.000000   1.000000   0.000000    0.000000   0.000000  -1.000000
25%    100.000000   2.000000   0.000000  131.250000   0.250000  12.000000
50%    110.000000   2.000000   1.000000  180.000000   1.500000  14.000000
75%    110.000000   3.000000   1.000000  217.500000   3.000000  17.000000
max    160.000000   6.000000   5.000000  320.000000  14.000000  23.000000

          sugars      potass    vitamins      shelf     weight       cups  \
count  74.000000   74.000000   74.000000  74.000000  74.000000  74.000000
mean    6.770270   92.675676   28.378378   2.175676   1.027432   0.818243
std     4.467684   70.578065   22.787104   0.833512   0.151260   0.234914
min    -1.000000   -1.000000    0.000000   1.000000   0.500000   0.250000
25%     3.000000   40.000000   25.000000   1.000000   1.000000   0.670000
50%     6.000000   90.000000   25.000000   2.000000   1.000000   0.750000
75%    10.750000  113.750000   25.000000   3.000000   1.000000   1.000000
max    15.000000  330.000000  100.000000   3.000000   1.500000   1.500000

          rating
count  74.000000
mean   42.879265
std    14.280511
min    18.042851
25%    32.449210
50%    40.424490
75%    51.401243
max    93.704912

In [22]:
# select
# The loc and iloc methods are used to select rows or columns based on index or label.
ndf = df.loc[:,['protein','calories']]

In [26]:
# FILTER
df[df.rating > 70]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,text Join
2,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,All-Bran_with_Extra_Fiber K
61,Shredded_Wheat_'n'Bran,N,C,90,3,0,0,4.0,19.0,0,140,0,1,1.0,0.67,74.472949,Shredded_Wheat_'n'Bran N
62,Shredded_Wheat_spoon_size,N,C,90,3,0,0,3.0,20.0,0,120,0,1,1.0,0.67,72.801787,Shredded_Wheat_spoon_size N

In [34]:
# FILTER
# &, |   =  AND  OR
df[(df.mfr == "N") & (df.rating > 60)]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,text Join
0,100%_Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973,100%_Bran N
22,Cream_of_Wheat_(Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.00,1.00,64.533816,Cream_of_Wheat_(Quick) N
60,Shredded_Wheat,N,C,80,2,0,0,3.0,16.0,0,95,0,1,0.83,1.00,68.235885,Shredded_Wheat N
61,Shredded_Wheat_'n'Bran,N,C,90,3,0,0,4.0,19.0,0,140,0,1,1.00,0.67,74.472949,Shredded_Wheat_'n'Bran N
62,Shredded_Wheat_spoon_size,N,C,90,3,0,0,3.0,20.0,0,120,0,1,1.00,0.67,72.801787,Shredded_Wheat_spoon_size N

In [41]:
names = ['P','N']
df[df.mfr.isin(names)]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,text Join
0,100%_Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973,100%_Bran N
4,Post_Nat._Raisin_Bran,P,C,120,3,1,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594,Post_Nat._Raisin_Bran P
12,Bran_Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813,Bran_Flakes P
22,Cream_of_Wheat_(Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.00,1.00,64.533816,Cream_of_Wheat_(Quick) N
30,Fruity_Pebbles,P,C,110,1,1,135,0.0,13.0,12,25,25,2,1.00,0.75,28.025765,Fruity_Pebbles P
31,Golden_Crisp,P,C,100,2,0,45,0.0,11.0,15,40,25,1,1.00,0.88,35.252444,Golden_Crisp P
33,Grape_Nuts_Flakes,P,C,100,3,1,140,3.0,15.0,5,85,25,3,1.00,0.88,52.076897,Grape_Nuts_Flakes P
34,Grape-Nuts,P,C,110,3,0,170,3.0,17.0,3,90,25,3,1.00,0.25,53.371007,Grape-Nuts P
35,Great_Grains_Pecan,P,C,120,3,3,75,3.0,13.0,4,100,25,3,1.00,0.33,45.811716,Great_Grains_Pecan P
38,Honey-comb,P,C,110,1,0,180,0.0,14.0,11,35,25,1,1.00,1.33,28.742414,Honey-comb P
60,Shredded_Wheat,N,C,80,2,0,0,3.0,16.0,0,95,0,1,0.83,1.00,68.235885,Shredded_Wheat N
61,Shredded_Wheat_'n'Bran,N,C,90,3,0,0,4.0,19.0,0,140,0,1,1.00,0.67,74.472949,Shredded_Wheat_'n'Bran N
62,Shredded_Wheat_spoon_size,N,C,90,3,0,0,3.0,20.0,0,120,0,1,1.00,0.67,72.801787,Shredded_Wheat_spoon_size N
65,Strawberry_Fruit_Wheats,N,C,90,2,0,15,3.0,15.0,5,90,25,2,1.00,1.00,59.363993,Strawberry_Fruit_Wheats N

In [53]:
# SORTING

# sort_index

# sort_values
# False, True

#df.sort_index(ascending=False)
#df.sort_index(axis=1)

df.sort_values(by='calories')

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,text Join
2,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912,All-Bran_with_Extra_Fiber K
53,Puffed_Wheat,Q,C,50,2,0,0,1.0,10.0,0,50,0,3,0.50,1.00,63.005645,Puffed_Wheat Q
52,Puffed_Rice,Q,C,50,1,0,0,0.0,13.0,0,15,0,3,0.50,1.00,60.756112,Puffed_Rice Q
0,100%_Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973,100%_Bran N
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505,All-Bran K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,Oatmeal_Raisin_Crisp,G,C,130,3,2,170,1.5,13.5,10,120,25,3,1.25,0.50,30.450843,Oatmeal_Raisin_Crisp G
67,Total_Raisin_Bran,G,C,140,3,1,190,4.0,15.0,14,230,100,3,1.50,1.00,28.592785,Total_Raisin_Bran G
48,Nutri-Grain_Almond-Raisin,K,C,140,3,2,220,3.0,21.0,7,130,25,3,1.33,0.67,40.692320,Nutri-Grain_Almond-Raisin K
40,Just_Right_Fruit_&_Nut,K,C,140,3,1,170,2.0,20.0,9,95,100,3,1.30,0.75,36.471512,Just_Right_Fruit_&_Nut K
45,Mueslix_Crispy_Blend,K,C,160,3,2,150,3.0,17.0,13,160,25,3,1.50,0.67,30.313351,Mueslix_Crispy_Blend K

In [66]:
# summarize

#df.info()

#df.value_counts('mfr')

#df.nunique() # on each column

df.count()

name         74
mfr          74
type         74
calories     74
protein      74
fat          74
sodium       74
fiber        74
carbo        74
sugars       74
potass       74
vitamins     74
shelf        74
weight       74
cups         74
rating       74
text Join    74
dtype: int64

In [74]:
# describe
# Min and Max, Mean and Median:
#df.describe()
#print(df.describe(include=['object']))
df.rating.min()
#df.min()

df.groupby('mfr').sum() #mean

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
mfr,,,,,,,,,,,,,
A,100,4,1,0,0.0,16.0,3,95,25,2,1.00,1.00,54.850917
G,2450,51,30,4410,28.0,324.0,175,1875,775,47,23.08,19.25,758.688737
K,2500,61,14,4020,63.0,348.0,174,2370,800,54,24.79,18.31,1012.884634
N,520,17,1,225,24.0,96.0,11,724,50,10,5.83,4.67,407.811403
P,860,19,6,1155,20.0,107.0,69,825,200,19,8.33,5.76,334.434650
Q,760,21,14,740,10.7,80.0,42,595,100,19,7.00,6.59,343.327919
R,620,12,4,1340,9.0,109.0,27,374,150,10,6.00,4.97,261.067349

In [9]:
print(ndf.mean()) #  count in each column

protein       2.500000
calories    105.540541
dtype: float64

In [79]:
#Combinig and merging data frame, 
# df.merge(),df.join(), and df.concat() 
# using a .concat() method
df1= df
frames = [df, df1] #
# ROW JOIN
res1 = pd.concat(frames)
#res1

In [82]:
# Define a dictionary containing employee data 
# MERGE - A kind of inner join
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name':['Sachin', 'Kohli', 'Rohit', 'Gangualy'], 
         'Age':[27, 24, 22, 32],} 
   
# Define a dictionary containing employee data 
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Mumbai', 'Bangalore', 'Mumbai', 'Kolkatta'], 
         'Qualification':['Bats', 'Captain', 'Bats', 'Captain']} 
 
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1)
 
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2) 
  
 
print(df, "\n\n", df1) 
# using .merge() function
res = pd.merge(df, df1, on='key')
 
res

  key      Name  Age
0  K0    Sachin   27
1  K1     Kohli   24
2  K2     Rohit   22
3  K3  Gangualy   32

   key    Address Qualification
0  K0     Mumbai          Bats
1  K1  Bangalore       Captain
2  K2     Mumbai          Bats
3  K3   Kolkatta       Captain

  key      Name  Age    Address Qualification
0  K0    Sachin   27     Mumbai          Bats
1  K1     Kohli   24  Bangalore       Captain
2  K2     Rohit   22     Mumbai          Bats
3  K3  Gangualy   32   Kolkatta       Captain

In [91]:
# Define a dictionary containing employee data 
data1 = {'Name':['Sachin', 'Kohli', 'Rohit', 'Gangualy'], 
        'Age':[27, 24, 22, 32]} 
    
# Define a dictionary containing employee data 
data2 = {'Address':['Mumbai', 'Bangalore', 'Mumbai', 'Kolkatta'], 
        'Qualification':['Bats', 'Captain', 'Bats', 'Captain']} 
  
# Convert the dictionary into DataFrame  
df = pd.DataFrame(data1,index=['K0', 'K1', 'K2', 'K3'])
  
# Convert the dictionary into DataFrame  
df1 = pd.DataFrame(data2, index=['K0', 'K1', 'K2', 'K3'])
 
# change Index - K1 to K2
# joining dataframe
res = df.join(df1)
 
res

        Name  Age    Address Qualification
K0    Sachin   27     Mumbai          Bats
K1     Kohli   24  Bangalore       Captain
K2     Rohit   22     Mumbai          Bats
K3  Gangualy   32   Kolkatta       Captain

In [11]:
# ALternate - Assign
df3 = df.assign(calpro = (df["calories"]/df["protein"])*0.5)
print(df3.head())

                        name mfr type  calories  protein  fat  sodium  fiber  \
0                  100%_Bran   N    C        70        4    1     130   10.0
1                   All-Bran   K    C        70        4    1     260    9.0
2  All-Bran_with_Extra_Fiber   K    C        50        4    0     140   14.0
3         Cracklin'_Oat_Bran   K    C       110        3    3     140    4.0
4      Post_Nat._Raisin_Bran   P    C       120        3    1     200    6.0

   carbo  sugars  potass  vitamins  shelf  weight  cups     rating     calpro
0    5.0       6     280        25      3    1.00  0.33  68.402973   8.750000
1    7.0       5     320        25      3    1.00  0.33  59.425505   8.750000
2    8.0       0     330        25      3    1.00  0.50  93.704912   6.250000
3   10.0       7     160        25      3    1.00  0.50  40.448772  18.333333
4   11.0      14     260        25      3    1.33  0.67  37.840594  20.000000

In [12]:
df["text Join"] = df["name"].map(str) +" "+ df["mfr"]
#print(sales.head())
print(df["text Join"].head())

0                    100%_Bran N
1                     All-Bran K
2    All-Bran_with_Extra_Fiber K
3           Cracklin'_Oat_Bran K
4        Post_Nat._Raisin_Bran P
Name: text Join, dtype: object

In [13]:
df["text Join"] = df["name"].map(str) +" "+ df["mfr"]
#print(sales.head())
print(df["text Join"].head())

0                    100%_Bran N
1                     All-Bran K
2    All-Bran_with_Extra_Fiber K
3           Cracklin'_Oat_Bran K
4        Post_Nat._Raisin_Bran P
Name: text Join, dtype: object

In [97]:
# Remove duplicates
df = pd.read_csv('C:\\Users\\radha\\Desktop\\dsp27 Class\\cerealspga05.csv')
df.drop_duplicates(['calories'])

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
2,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
3,Cracklin'_Oat_Bran,K,C,110,3,3,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
4,Post_Nat._Raisin_Bran,P,C,120,3,1,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594
10,Basic_4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
11,Bran_Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
19,Corn_Flakes,K,C,100,2,0,290,1.0,21.0,2,35,25,1,1.00,1.00,45.863324
40,Just_Right_Fruit_&_Nut,K,C,140,3,1,170,2.0,20.0,9,95,100,3,1.30,0.75,36.471512
45,Mueslix_Crispy_Blend,K,C,160,3,2,150,3.0,17.0,13,160,25,3,1.50,0.67,30.313351
60,Shredded_Wheat,N,C,80,2,0,0,3.0,16.0,0,95,0,1,0.83,1.00,68.235885

In [98]:
df.drop_duplicates(['mfr','type'])

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
4,Post_Nat._Raisin_Bran,P,C,120,3,1,200,6.0,11.0,14,260,25,3,1.33,0.67,37.840594
6,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
7,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
8,Apple_Cinnamon_Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
22,Cream_of_Wheat_(Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.00,1.00,64.533816
44,Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.00,1.00,54.850917
55,Quaker_Oatmeal,Q,H,100,5,2,0,2.7,-1.0,-1,110,0,1,1.00,0.67,50.828392

In [99]:
# DISCRETIZATION
# qcut tries to divide up the underlying data into equal sized bins

In [104]:
category = ['very Low', 'Low', 'Average', 'Above Average','Good']
#n-1
df['binned']=pd.cut(x=df['rating'], bins=[0,20,40,60,80,100], labels=category)

df['binned']

0     Above Average
1           Average
2              Good
3           Average
4               Low
          ...
69              Low
70              Low
71          Average
72          Average
73              Low
Name: binned, Length: 74, dtype: category
Categories (5, object): ['very Low' < 'Low' < 'Average' < 'Above Average' < 'Good']

In [115]:
df2 = df['binned']
df2
df2[(df2 == "Above Average")]

0     Above Average
22    Above Average
52    Above Average
53    Above Average
60    Above Average
61    Above Average
62    Above Average
Name: binned, dtype: category
Categories (5, object): ['very Low' < 'Low' < 'Average' < 'Above Average' < 'Good']