In [1]:
# Python IDE List
# Python IDLE
# Pycharm
# VStudio
# EClipse
# Spyder   --- List goes on

# for Data scince - Jupyter Notebook

In [2]:
# Python History
# Python Uses
# Web Development, Gaming, Testing, Data Science, AI, ML,DL

In [3]:
# DATA TYPES

# 1. String
# 2. Numeric
# 3. List
# 4. Tuple
# 5. Dictionary

<h2> String </h2>

In [4]:
var1 = 'Indian cricket team'
var2 = "Bank of America "

print(var1)
print(var2)

Indian cricket team
Bank of America

In [5]:
print("My name is %s and my score is %d runs!" % ('Pavan', 69)) 
print("My name is %s and my score is %0.3f runs!" % ('Pavan', 69))

# %s = string , %d = digits  , %f = floating point number
# %e  = exponetial

My name is Pavan and my score is 69 runs!
My name is Pavan and my score is 69.000 runs!

In [6]:
# string functions
var1 = 'Indian cricket team'
print( "capitalize() : ", var1.capitalize())
print( "lower : ", var1.lower())
print( "upper: ", var1.upper())
print( "Count of string(s) : ", var1.count("cricket")) 
print( "Length of a string: ", len(var1))
print( "Title: ", var1.title())

capitalize() :  Indian cricket team
lower :  indian cricket team
upper:  INDIAN CRICKET TEAM
Count of string(s) :  1
Length of a string:  19
Title:  Indian Cricket Team

In [7]:
var1 = '      Indian cricket team       '
print( "Length of a string: ", len(var1))
print("remove First and end white spaces - ", var1.strip())
print( "Length of a string: ", len(var1.strip()))

Length of a string:  32
remove First and end white spaces -  Indian cricket team
Length of a string:  19

In [8]:
var1 = 'Indian cricket team'
print( "split", var1.split(' ') )

split ['Indian', 'cricket', 'team']

In [9]:
# JOIN
str = "_"
str1 = ( "indian", "cricket", "team" )
print (str.join(str1))

indian_cricket_team

In [10]:
var3 = "*"
print(var3 * 60 )     # Prints string two times

************************************************************

In [11]:
var2 = "Bank of Hyderabad"
print(var2 + " Merged  into Bank of India" )# Prints concatenated string
# space at +

Bank of Hyderabad Merged  into Bank of India

<h2> Numeric </h2>

In [12]:
# Integers, Numbers

a = 5
b = 6
c = 7
 
s = (a+b+c)/2
perimeter = s
print("Perimter is = ", perimeter)

area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
print('The area of the triangle is %0.2f' %area)

Perimter is =  9.0
The area of the triangle is 14.70

In [13]:
import math
area2 =   math.sqrt(s*(s-a)*(s-b)*(s-c))
print(area2)

14.696938456699069

In [14]:
print(round(area2,1))
print('The area of the triangle is %0.2f'  %area2)
print(type(area2))

14.7
The area of the triangle is 14.70
<class 'float'>

In [15]:
##
#There are three numeric types in Python:

#int
#float
#complex
'''
int (signed integers) 
long (long integers ) 
float (floating point real values)
complex (complex numbers
'''

## Type conversion - Casting
'''
int(x)
long(x)  # his is not in python3
float(x)
complex(x)
'''

x = 100

print(int(x))
print(type(int(x)))

#print(long(y))
print(float(x))
print(type(float(x)))
# imaginary - J
print(complex(x))
print(type(complex(x)))

100
<class 'int'>
100.0
<class 'float'>
(100+0j)
<class 'complex'>

In [16]:
y = 100.276
print(math.ceil(y))
print(math.floor(y))
print(round(y,1))

101
100
100.3

In [17]:
y2 = -100.276
print(abs(y2)) # No sign difference

print(divmod(16,4)) # division, Remainder

print(divmod(17,4)) # division, Remainder


print(17 // 4) # quotient
print(17 %  4) # remainder

100.276
(4, 0)
(4, 1)
4
1

In [18]:
print(pow(2,4))
print(2**4)

16
16

In [19]:
#
print(math.sqrt(108)) 
print("math.log10 : ", math.log10(100)) 
print("math.log : ", math.log(100)) # Natutal Log

10.392304845413264
math.log10 :  2.0
math.log :  4.605170185988092

<h2> List </h2>

In [20]:
# lists

# without using list keyword []
countries1 = ["India","USA","UK","Australia","Canada"]
print(countries1)

['India', 'USA', 'UK', 'Australia', 'Canada']

In [21]:
# usibg list ((  )) # note double brackets
countries = list(("India","USA","UK","Australia","Canada"))
print(countries)

['India', 'USA', 'UK', 'Australia', 'Canada']

In [22]:
print(len(countries))

5

In [23]:
# insert at certain index
# index starts from 0
countries.insert(1,"Germany")
print(countries)

['India', 'Germany', 'USA', 'UK', 'Australia', 'Canada']

In [24]:
# ## append()	Adds an element at the end of the list
countries.append("France")
print(countries)

['India', 'Germany', 'USA', 'UK', 'Australia', 'Canada', 'France']

In [25]:
## Update
countries[4] = "Spain"  # if 5, outside index
print(countries)

['India', 'Germany', 'USA', 'UK', 'Spain', 'Canada', 'France']

In [26]:
# List Index
print ("list ", countries1[0:3])

print ("list ", countries1[1])

list  ['India', 'USA', 'UK']
list  USA

In [27]:
del(countries[4])
print(countries)

['India', 'Germany', 'USA', 'UK', 'Canada', 'France']

In [28]:
# sorted : Aplhabetic
#print(list(sorted(countries)))
print(sorted(countries))

['Canada', 'France', 'Germany', 'India', 'UK', 'USA']

In [29]:
sorted(countries, reverse=True)

['USA', 'UK', 'India', 'Germany', 'France', 'Canada']

In [30]:
# sorted by Position
print(list(countries))

['India', 'Germany', 'USA', 'UK', 'Canada', 'France']

In [31]:
# sorted by Position
print(reversed(countries))

<list_reverseiterator object at 0x00000017D20C5A60>

In [32]:
print(list(reversed(countries)))

['France', 'Canada', 'UK', 'USA', 'Germany', 'India']

In [33]:
print(countries)
print( "Index for: ", countries.index( 'India' ) )

['India', 'Germany', 'USA', 'UK', 'Canada', 'France']
Index for:  0

In [34]:
# same element in different Index Number, but we will get only first

In [35]:
countries = list(("India","USA","UK","Australia","Canada","USA"))
print(countries)
x = countries.count("USA")
print(x) # number of times of USA in the list

['India', 'USA', 'UK', 'Australia', 'Canada', 'USA']
2

In [36]:
del(countries[4])
print(countries)

['India', 'USA', 'UK', 'Australia', 'USA']

<h2> Tuple </h2>

In [37]:
# Tuple

# without using list keyword [] -> ()
countries1 = ("India","USA","UK","Australia","Canada")
print(countries1)

('India', 'USA', 'UK', 'Australia', 'Canada')

In [38]:
# usibg Tuple ((  )) # note double brackets
countries = tuple(("India","USA","UK","Australia","Canada"))
print(countries)

('India', 'USA', 'UK', 'Australia', 'Canada')


### ## Remove, insert, append , update , deletion - Not allowed

In [39]:
x = countries.remove("USA")
print(x) # number of times of USA in the list

AttributeError: 'tuple' object has no attribute 'remove'

NOTE: Other than Delete,Remove, insert, update, Remain all are same between TUPLE and LIST. TUPLE IS IMMUTABLE - NON modifiable.

<h2> Dictionary </h2>

In [40]:
# dictionary with integer keys
my_dict = {1: 'Python', 2: 'R script', 3:'SAS',4:'Java'}
print(my_dict)

{1: 'Python', 2: 'R script', 3: 'SAS', 4: 'Java'}

In [41]:
# using dict()
my_dict = dict({1:'Python', 2:'R script', 3:'SAS',4:'Java'}) 
print(my_dict)

{1: 'Python', 2: 'R script', 3: 'SAS', 4: 'Java'}

In [42]:
#''' Note: No duplicate key is allowed. When duplicate keys encountered during assignment, the last assignment wins. '''
print(len(my_dict ))

4

In [43]:
print(my_dict.keys())   # Prints all the keys

dict_keys([1, 2, 3, 4])

In [44]:
print(my_dict.values()) # Prints all the values

dict_values(['Python', 'R script', 'SAS', 'Java'])

In [45]:
# access Dictonary Key - value
# Giving KEY and getting Value
Y = my_dict[1]
print(Y)
# my_dict["name"] # if key is in Names/text/string. In our case it is number

X = my_dict.get(1)
print(X)

Python
Python

In [46]:
# List Comprehension Get KEY from VALUE
KeyID = [key for key, value in my_dict.items() if value == "Java"]
print(KeyID)

[4]

In [47]:
#sort
import operator
# To sort dict based on KEYS
sorted_x = sorted(my_dict.items(), key= operator.itemgetter(0))
print(sorted_x)

# To sort dict based on values
sorted_y = sorted(my_dict.items(), key=operator.itemgetter(1))
print(sorted_y) 
## this sorting _ Descending is Incorrect, specially case senistive Eg: Java and java - TRY


# complicated, I will explain in Other sections in Python
#my_dict = dict((k, v.lower()) for k,v in my_dict.items())
my_dict = dict((k, v.title()) for k,v in my_dict.items())
#print(my_dict)
# To sort dict based on values
print("\nCorrect sort Order in Values\n")
sorted_y = sorted(my_dict.items(), key=operator.itemgetter(1))
print(sorted_y)

[(1, 'Python'), (2, 'R script'), (3, 'SAS'), (4, 'Java')]
[(4, 'Java'), (1, 'Python'), (2, 'R script'), (3, 'SAS')]

Correct sort Order in Values

[(4, 'Java'), (1, 'Python'), (2, 'R Script'), (3, 'Sas')]

In [48]:
# UPDATE
my_dict[5] = 'Artificial Intelligence'
print(my_dict)

{1: 'Python', 2: 'R Script', 3: 'Sas', 4: 'Java', 5: 'Artificial Intelligence'}

In [49]:
my_dict.update({6:'Machine Learning'})
print(my_dict)

{1: 'Python', 2: 'R Script', 3: 'Sas', 4: 'Java', 5: 'Artificial Intelligence', 6: 'Machine Learning'}

In [50]:
#DELETE
del my_dict[3]
print(my_dict)

{1: 'Python', 2: 'R Script', 4: 'Java', 5: 'Artificial Intelligence', 6: 'Machine Learning'}

<h2 style="color:blue;">SETS</h2>

In [51]:
# A set is a collection which is both unordered and unindexed.
# Sets are unordered, so you cannot be sure in which order the items will appear.
# Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
# Once a set is created, you cannot change its items, but you can add new items.
#Sets cannot have two items with the same value. - No duplicates
firstSet = {"Hyd", "Che", "Ben"}
print(firstSet )

{'Hyd', 'Che', 'Ben'}

In [52]:
print(type(firstSet))

<class 'set'>

In [53]:
"""
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
"""

'\nText Type:\tstr\nNumeric Types:\tint, float, complex\nSequence Types:\tlist, tuple, range\nMapping Type:\tdict\nSet Types:\tset, frozenset\nBoolean Type:\tbool\nBinary Types:\tbytes, bytearray, memoryview\n'

<h2> Advance </h2>

In [55]:
# frozenset  , Like Tuple, Non immutable
# The frozenset() is an inbuilt function in Python which takes an iterable object as input and makes them immutable
# tuple of numbers
nu = (1, 2, 3, 4, 5, 6, 7, 8, 9)
# converting tuple to frozenset
fnum = frozenset(nu)
# printing details
print("frozenset Object is : ", fnum)

frozenset Object is :  frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [56]:
# bytes
message = 'King always KING'

# convert string to bytes
byte_message = bytes(message, 'utf-8')
print(byte_message)

# Output: b'Python is fun'

b'King always KING'

In [66]:
size = 5
arr = bytes(size)
print(arr)

b'\x00\x00\x00\x00\x00'

In [69]:
x = bytearray([94, 91, 101, 125, 111, 35, 120, 101, 115, 101, 200])
print(x)

bytearray(b'^[e}o#xese\xc8')